<div class="log-in-holder">
  <div class="log-in-div">

    <div class="log-in-main">
      <div class="buzz-logo">
        <%= image_tag "buzz-text.png", :class => "sign-in-img" %>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="form-field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "text-field" %>
        </div>

        <div class="form-field">
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "text-field" %>
        </div>

          <div class="form-field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "text-field" %>
          </div>

        <div class="sign-up-action">
          <%= f.submit "Sign up", class: "log-in-cta" %>
        </div>
      <% end %>
    </div>

    <div>
      <%= image_tag "sign-up.png", :class => "sign-in-main" %>
    </div>

  </div>
</div>