<div class="users_page">

    <h3>TRADERS</h3>
    <p id="add_trader">  <%= link_to "Add Trader", new_user_path %> </p>

    <div class="users_table">
        <div class="users_header">
            <h3 class="id_user_table">ID</h3>
            <h3 class="name_user_table">First Name</h3>
            <h3 class="name_user_table">Last Name</h3>
            <h3 class="email_user_table">Email</h3>
            <h3 class="role_user_table">Role</h3>
            <h3 class="role_user_table">Status</h3>
            <h3 class="actions_user_table">Action</h3>
        </div>
        <ul>
        <% @users.sort.each do |user| %>
            <% if user.role == "trader" && user.status == "active" %>
                <li class="user_iteration"> 
                    <p class="id_user_table"> <%= user.id %> </p>
                    <p class="name_user_table"> <%= user.first_name.titleize %>  </p>
                    <p class="name_user_table"> <%= user.last_name.titleize %>  </p>
                    <p class="email_user_table"> <%= user.email.downcase %>  </p>
                    <p class="role_user_table"> <%= user.role.capitalize %> </p>
                    <p class="role_user_table"> <%= user.status.capitalize %> </p>
                    
                    <p class="actions_user_table">

                    <% link_to "Show this user", user %>

                    <%= link_to "Edit this user", edit_user_path(user) %> 
                    </p>
                </li>
            <% end %>
        <% end %>
        </ul>
    </div>

    </div>

