<div class="admin_register_view_page">
  <h1>New Trader</h1>

  <div class="new_form_container">
    <%= form_with(model: @user, method: :post) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true, placeholder: "Juan", class: "text-field" %>
      </div>

      <div class="form-field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, placeholder: "Cruz", class: "text-field" %>
      </div>

      <div class="form-field">
      <%= f.label :email %>
        <%= f.email_field :email, placeholder: "juan@email.com", class: "text-field" %>
      </div>

      <div class="form-field">
        <% if @minimum_password_length %>
        <% end %>
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "minimum of 6 characters", class: "text-field" %>
      </div>

        <div class="form-field">
        <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, placeholder: "retype password", class: "text-field" %>
        </div>

      <div class="sign-up-action">
        <%= f.submit "Sign up", class: "log-in-cta" %>
      </div>
    <% end %>
    </div>

  </div>

  <div class="link_to_traders">
    <%= link_to "Back to active traders", admin_active_users_path %>
  </div>
</div>