<div class="body-home">
  <section>
    <h1>Hassle-free stock app made for you</h1>
    <h1>Make your cash work for you in many ways</h1>
  </section>
</div>

  <section class="main-section">
    <div class="main-holder">
      <div class="main-title">
        <h1>Make your cash work <br> for you in many ways.</h1>
        <h1>Your hassle-free stock app</h1>
      </div>

      <div class="sub-heading">
        <%= image_tag "invest.png", :class => "invest-img" %>
        <%= image_tag "portfolio.png", :class => "portfolio-img" %>
      </div>
      <div class="sub">
        <p class="p-title">Invest any amount</p>
        <p class="p-title">Build a portfolio</p>
      </div>
      <div class="description">
        <p>Put any amount of money you want to <br> invest, and we'll convert from pesos to <br> parts of a whole share.</p>
        <p>Customize you portfolio with different <br> companies' stocks and funds to reduce <br> risks.</p>
      </div>
      <div class="get-app"> 
        <button class="get-app-btn">Get App</button>

      <div class="learn-more">
          <h2 class="learn">Learn more</h2>
          <%= image_tag "arrow-right.png", :class => "arrow-right" %>
        </div>
      </div>
    </div>
    <%= image_tag "main-img.png", :class => "main-img" %>
  </section>

  <footer class="footer">
    <div class="footer-holder">
      <div>
        <p>Follow us</p>
        <div>
          <%= image_tag "fb.png", :class => "footer-img" %>
          <%= image_tag "ig.png", :class => "footer-img" %>
          <%= image_tag "twitter.png", :class => "footer-img" %>
          <%= image_tag "linkedin.png", :class => "footer-img" %>
        </div>
      </div>

      <div>
        <p>Company</p>
        <p>About us</p>
        <p>Blog</p>
        <p>Partnerships</p>
        <p>Career</p>
      </div>

      <div>
        <p>Support</p>
        <p>FAQS</p>
        <p>Services</p>
        <p>Downloads</p>
      </div>

      <div>
        <p>Partners</p>
        <p>Partner Program</p>
        <p>Affiliate Program</p>
        <p>App Partners</p>
      </div>

      <div>
        <p>Subscribe now!</p>
        <input class="email-input" id="email" type="email" placeholder="Your Email" name="email" />
      </div>
    </div>
  </footer>

